<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>FraudShield - Welcome</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<div class="cursor"></div>
<div class="cursor-follower"></div>
<div class="parallax-bg">
<div class="bg-circle circle-1"></div>
<div class="bg-circle circle-2"></div>
<div class="bg-circle circle-3"></div>
<div class="bg-circle circle-4"></div>
</div>
<header class="glass-header" style="background-color: black;">
<div class="logo-container">
<img src="/static/images/3.png" alt="FraudShield Logo" class="logo"/>
</div>
</header>
<main class="container">
<section class="hero">
<h1 class="hero-title">
<span class="title-word title-word-1">Advanced</span>
<span class="title-word title-word-2">Fraud</span>
<span class="title-word title-word-3">Detection</span>
<span class="title-word title-word-4">System</span>
</h1>
<p class="hero-subtitle">Begin Your Analysis</p>
</section>
<section class="form-section">
<div class="form-container glass-card" style="text-align: center; display: flex; flex-direction: column; justify-content: center; height: 200px;">
<button onclick="window.location.href='/predict-page'" class="submit-btn" style="margin: auto;">
         Get Started
</button>
</div>
</section>
</main>
<div class="footer-bottom" style="max-width: 800px; margin: 40px auto 20px auto; padding-right: 0px;padding-left: 9%; font-size: 14px; color: #f00c0c; text-align: center; position: relative; top: 470px;">
<p style="margin: 0;">Powered by Aravind Suresh</p>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>